In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
%matplotlib inline

# Regression Analysis: Seasonal Effects with Sklearn Linear Regression
In this notebook, you will build a SKLearn linear regression model to predict Yen futures ("settle") returns with *lagged* CAD/JPY exchange rate returns.

In [2]:
# Currency pair exchange rates for CAD/JPY
cad_jpy_df = pd.read_csv(
    Path("cad_jpy.csv"), index_col="Date", infer_datetime_format=True, parse_dates=True
)
cad_jpy_df.head()

             Price    Open    High     Low
Date
1982-01-05  184.65  184.65  184.65  184.65
1982-01-06  185.06  185.06  185.06  185.06
1982-01-07  186.88  186.88  186.88  186.88
1982-01-08  186.58  186.58  186.58  186.58
1982-01-11  187.64  187.64  187.64  187.64

In [3]:
# Trim the dataset to begin on January 1st, 1990
cad_jpy_df = cad_jpy_df.loc["1990-01-01":, :]
cad_jpy_df.head()

             Price    Open    High     Low
Date
1990-01-02  126.37  126.31  126.37  126.31
1990-01-03  125.30  125.24  125.30  125.24
1990-01-04  123.46  123.41  123.46  123.41
1990-01-05  124.54  124.48  124.54  124.48
1990-01-08  124.27  124.21  124.27  124.21

# Data Preparation

### Returns

In [4]:
# Create a series using "Price" percentage returns, drop any nan"s, and check the results:
# (Make sure to multiply the pct_change() results by 100)
# In this case, you may have to replace inf, -inf values with np.nan"s
# YOUR CODE HERE!
cad_jpy_df['Return'] = cad_jpy_df['Price'].pct_change() * 100
cad_jpy_df = cad_jpy_df.replace(np.inf,np.nan).dropna()
cad_jpy_df

             Price    Open    High     Low    Return
Date
1990-01-03  125.30  125.24  125.30  125.24 -0.846720
1990-01-04  123.46  123.41  123.46  123.41 -1.468476
1990-01-05  124.54  124.48  124.54  124.48  0.874777
1990-01-08  124.27  124.21  124.27  124.21 -0.216798
1990-01-09  125.10  125.04  125.10  125.04  0.667901
...            ...     ...     ...     ...       ...
2020-05-29   78.29   78.21   78.41   77.75  0.076697
2020-06-01   79.27   78.21   79.36   78.04  1.251756
2020-06-02   80.40   79.26   80.56   79.15  1.425508
2020-06-03   80.70   80.40   80.82   79.96  0.373134
2020-06-04   80.71   80.80   80.89   80.51  0.012392

[7928 rows x 5 columns]

### Lagged Returns

In [5]:
# Create a lagged return using the shift function
# YOUR CODE HERE!
cad_jpy_df['Lagged_Return'] = cad_jpy_df.Return.shift()
cad_jpy_df = cad_jpy_df.dropna()
cad_jpy_df#.tail()

             Price    Open    High     Low    Return  Lagged_Return
Date
1990-01-04  123.46  123.41  123.46  123.41 -1.468476      -0.846720
1990-01-05  124.54  124.48  124.54  124.48  0.874777      -1.468476
1990-01-08  124.27  124.21  124.27  124.21 -0.216798       0.874777
1990-01-09  125.10  125.04  125.10  125.04  0.667901      -0.216798
1990-01-10  125.81  125.75  125.81  125.75  0.567546       0.667901
...            ...     ...     ...     ...       ...            ...
2020-05-29   78.29   78.21   78.41   77.75  0.076697      -0.114913
2020-06-01   79.27   78.21   79.36   78.04  1.251756       0.076697
2020-06-02   80.40   79.26   80.56   79.15  1.425508       1.251756
2020-06-03   80.70   80.40   80.82   79.96  0.373134       1.425508
2020-06-04   80.71   80.80   80.89   80.51  0.012392       0.373134

[7927 rows x 6 columns]

### Train Test Split

In [6]:
# Create a train/test split for the data using 2018-2019 for testing and the rest for training  
test = cad_jpy_df['2018':'2019']
train = cad_jpy_df[:'2017']

#----------------I believe the above is the better answer to what the question is asking given there is data after 2019
# ---------------and this question may be dated?? --------------

#----------------Otherwise, I've got to figure out the best way to capture "the rest" of the dates that aren't ['2018':'2019'] 
#----------------in the sample for training but concat would work: 

# train1 = cad_jpy_df['1990':'2017']
# train2 = cad_jpy_df['2020']
# train = pd.concat([train1,train2])

#--------------Other methods attempted below: 

# train = cad_jpy_df.loc[:, cad_jpy_df.columns != '2018:2019']
# train_ex = cad_jpy_df.index.isin(2018,2019)
# train = cad_jpy_df[~test]
# train = cad_jpy_df.drop(index=['2018':'2019'])
# train_ex = ~cad_jpy_df.index.isin(test)
# train = cad_jpy_df[train_ex]
# pd.set_option('display.max_rows',8000) - to see entire df to check if 2018:2019 are omitted
train.tail()

            Price   Open   High    Low    Return  Lagged_Return
Date
2017-12-25  88.99  89.03  89.12  88.89  0.033723      -0.011240
2017-12-26  89.23  88.98  89.28  88.94  0.269693       0.033723
2017-12-27  89.58  89.23  89.75  89.17  0.392245       0.269693
2017-12-28  89.81  89.58  89.84  89.33  0.256754       0.392245
2017-12-29  89.58  89.81  90.06  89.52 -0.256096       0.256754

In [7]:
# Create four dataframes:
# X_train (training set using just the independent variables), X_test (test set of of just the independent variables)
# Y_train (training set using just the "y" variable, i.e., "Futures Return"), Y_test (test set of just the "y" variable):
# YOUR CODE HERE!
X_train = train["Lagged_Return"].to_frame()
X_test = test["Lagged_Return"].to_frame()
y_train = train["Return"]
y_test = test["Return"]

In [8]:
# Preview the X_train data
# YOUR CODE HERE!
X_train.head()

            Lagged_Return
Date
1990-01-04      -0.846720
1990-01-05      -1.468476
1990-01-08       0.874777
1990-01-09      -0.216798
1990-01-10       0.667901

# Linear Regression Model

In [9]:
# Create a Linear Regression model and fit it to the training data
from sklearn.linear_model import LinearRegression

# Fit a SKLearn linear regression using  just the training set (X_train, Y_train):
# YOUR CODE HERE!
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

# Make predictions using the Testing Data

**Note:** We want to evaluate the model using data that it has never seen before, in this case: `X_test`.

In [10]:
# Make a prediction of "y" values using just the test dataset
# YOUR CODE HERE!
predictions = model.predict(X_test)

In [11]:
# Assemble actual y data (Y_test) with predicted y data (from just above) into two columns in a dataframe:
# YOUR CODE HERE!
Results = y_test.to_frame()
Results["Predicted Return"] = predictions
Results.head()

              Return  Predicted Return
Date
2018-01-01  0.245591          0.005434
2018-01-02 -0.055679         -0.007317
2018-01-03  0.011142          0.000340
2018-01-04  0.601604         -0.001358
2018-01-05  0.919158         -0.016366

In [12]:
# Plot the first 20 predictions vs the true values
# YOUR CODE HERE!
Results[:20].plot#(subplots=True)

# Out-of-Sample Performance

Evaluate the model using "out-of-sample" data (`X_test` and `y_test`)

In [13]:
from sklearn.metrics import mean_squared_error
# Calculate the mean_squared_error (MSE) on actual versus predicted test "y" 
# (Hint: use the dataframe from above)
# YOUR CODE HERE!
mse = mean_squared_error(
    Results["Return"],
    Results["Predicted Return"]
)
# Using that mean-squared-error, calculate the root-mean-squared error (RMSE):
# YOUR CODE HERE!
out_of_sample_rmse = np.sqrt(mse)
print(f"Out-of-Sample Root Mean Squared Error (RMSE): {out_of_sample_rmse}")

Out-of-Sample Root Mean Squared Error (RMSE): 0.5228175752219729

# In-Sample Performance

Evaluate the model using in-sample data (X_train and y_train)

In [14]:
# Construct a dataframe using just the "y" training data:
# YOUR CODE HERE!
in_sample_results = y_train.to_frame()

# Add a column of "in-sample" predictions to that dataframe:  
# YOUR CODE HERE!
in_sample_results["In-sample Predictions"] = model.predict(X_train)

# Calculate in-sample mean_squared_error (for comparison to out-of-sample)
# YOUR CODE HERE!
in_sample_mse = mean_squared_error(
    in_sample_results["Return"],
    in_sample_results["In-sample Predictions"]
)
# Calculate in-sample root mean_squared_error (for comparison to out-of-sample)
# YOUR CODE HERE!
in_sample_rmse = np.sqrt(in_sample_mse)
print(f"In-sample Root Mean Squared Error (RMSE): {in_sample_rmse}")

In-sample Root Mean Squared Error (RMSE): 0.841994632894117

# Conclusions

**Question:** Does this model perform better or worse on out-of-sample data as compared to in-sample data?

**Answer:** The out-of-sample RMSE is lower than the in-sample RMSE. RMSE is typically lower for training data, but is higher in this case. Therefore, the out-of-sample (test model) predictions are better than the in-sample (training model).